<div class="top-bar">
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-4"><img src="../../assets/logo.png" aria-hiden="true" style="cursor: pointer;outline: none;" [routerLink]="['']" alt=""></div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-7 pl-0 ml-5">
            <div class="mt-4 pt-2">
                <span class="month">{{computercurrentMonth}} {{computercurrentDate}}, {{computercurrentYear}}</span>
                <span class="time ml-2">{{ cumputercurrenttime | date: 'hh:mm:ss a' }}</span>
                <span class="time-zone ml-3 timezone" [matMenuTriggerFor]="timezonemenu">(+5.30 <img src="../../assets/arrow-down-12px.png" alt=""> )</span>
                <mat-menu #timezonemenu="matMenu">
                    <button  mat-menu-item>System time - (GMT +00:00)</button><hr class="timeborder">
                    <button  mat-menu-item>Your computer time - (GMT +05:30)</button><hr class="timeborder">
                    <button  mat-menu-item>India Standard time - (GMT +05:30)</button>
                  </mat-menu>
            </div>
        </div>
        <div class="col-xl-4 col-lg-3 col-md-1 col-sm-1 col-0"></div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-8 mt-2 pt-2 user-status">
            <p class="status-1 mb-2">Logged in as Rathore78/AG/INR</p>
            <p class="status-2">Last logged in : 31/03/2020 07:01</p>
        </div>
        
        <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-4 mt-4 pt-2" style="color: white;outline: none;" >
            <mat-icon class="settingsicon" [matMenuTriggerFor]="menu">settings</mat-icon>

<mat-menu #menu="matMenu">
  <button (click)="changepassword()" mat-menu-item>Change Password</button>
</mat-menu>
            <mat-icon class="ml-3" style="cursor: pointer;outline: none;" [routerLink]="['']">logout</mat-icon>
        </div>
    </div>
</div>
</div>