<footer>
    <a class="cursor" (click)="footergambling()">Responsible Gambling</a><span> | </span>
    <a class="cursor" (click)="prohibitedalert()">Prohibited Territories</a><span> | </span>
    <a class="cursor" href="https://www.gamcare.org.uk/" target="_blank"><img src="../../assets/gc.svg" style="width: 90px;
        filter: brightness(0) invert(1)!important;
        color: #fff!important;" alt=""></a> <span> | </span>
    <a class="cursor" href="https://www.begambleaware.org/" target="_blank"><img src="../../assets/bga.png" style="width: 115px;
        filter: brightness(0) invert(1)!important;
        color: #fff!important;"></a> <span> | </span>
    <a class="cursor" href="https://www.gamstop.co.uk/" target="_blank"><img src="../../assets/gs.svg" width="90px" alt=""></a> <span> | </span>
    <a class="cursor" (click)="Eighteenplusrulesalert()"><img src="../../assets/18.png" width="23px" alt=""></a>
    <br>
    <p><a class="cursor" (click)="rulesalert()"> Rules & Regulations</a> <span style="font-family: Roboto !important;margin-left: 3px;
        font-size: 14px;">© 2020 Powered By </span><a><img style="width: 70px;" src="../../assets/BetFARE.png"  alt=""></a> </p>
    <a></a>
    </footer> 