<div class="limiter pl-4">
    <div>&nbsp;</div>
    <div>
        <img src="../../assets/logo.png" aria-hiden="true" style="cursor: pointer;outline: none;" [routerLink]="['']"
            alt="">
    </div>
    <h4 class="title_header">Responsible Gambling</h4>
    <h4 class="sub_title">Understanding difficulties with gambling</h4>
    <p class="main_content">On this site you will find practical points about maintaining control of your gambling.
        There is also a
        self-assessment questionnaire which can be used to help identify possible difficulties with gambling if you are
        concerned about your own or somebody else's gambling.
    </p>
    <h4 class="sub_title1">Symptom Assessment:</h4>
    <p class="main_content1">Did you ever lose time from work due to gambling?</p>
    <p class="main_content1">Has gambling ever made your home life unhappy?</p>
    <p class="main_content1">Have you ever spent more money on gambling than you originally intended?</p>
    <p class="main_content1"> Did you ever argue about gambling with family and friends?</p>
    <p class="main_content1"> After losing, did you feel the urge to return as soon as possible to win back your losses?
    </p>
    <p class="main_content1"> Did you ever feel guilty about gambling?</p>
    <p class="main_content1"> Have you ever sold anything to finance your gambling?</p>
    <p class="main_content1"> Did you ever borrow money to finance your gambling?</p>
    <p class="main_content1">Did you ever consider obtaining money illegally to finance your gambling?</p>
    <p class="main_content1"> Have you ever risked or lost a relationship due to gambling?</p>
    <h4 class="sub_title1">Tools that you can use</h4>
    <p class="main_content">We offer a range of different options that can be used to manage gambling activity as and
        when you wish. This includes tools which allow you to limit the amount you can deposit or lose, or the option to
        exclude yourself from gambling for a fixed period of time.

    </p>
    <h4 class="sub_title1">Support and help information
    </h4>
    <p class="main_content">If you feel you need further guidance and support about money worries, personal or emotional
        circumstances, keeping control of your gambling or concerns over a friend/family member there are a number of
        support organizations available. Here are a few where you will find the details of both UK and global
        organizations and the contact information for them.</p>
    <p class="main_content"><a href="http://www.gamblersanonymous.org/ga/">Gamblers Anonymous</a></p>
    <p class="main_content"><a href="https://www.gamcare.org.uk/">GamCare</a></p>
    <p class="main_content"><a href="http://www.responsiblegambling.org/">The Canadian Foundation on Compulsive
            Gambling</a></p>
</div>
<app-footer></app-footer>